/*Start Global Variables*/
:root {
  --main-transition: 0.3s;
  --gray-colo: #888;
  --red-color: #f44336;
  --green-color: #22c55e;
  --orange-color: #f59e0b;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --light-pink-color: #fdecce;
  --light-blue-color: #cce3ff;
  --light-green-color: #d3f3df;
  --section-background: #f1f5f9;
  --twitter-color: rgb(29, 161, 242);
  --twitter-light-color: rgba(29, 161, 242, 0.3);
  --facebook-color: rgb(24, 119, 242);
  --facebook-light-color: rgb(24, 119, 242, 0.3);
  --youtube-color: rgb(255, 0, 0);
  --youtube-light-color: rgb(255, 0, 0, 0.3);
  --linkedin-color: rgb(0, 119, 181);
  --linkedin-light-color: rgb(0, 119, 181, 0.3);
}
/*End Global Variables*/
/* Start Global Rule*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
:focus {
  outline: none;
}
::placeholder {
  font-size: 14px;
}
/* start componants */
.active {
  background-color: #f6f6f6;
}
.main-heading {
  position: relative;
}
.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
}
.main-heading::before {
  left: 20px;
  width: 40px;
  background-color: black;
}
.main-heading::after {
  left: 60px;
  width: 80px;
  background-color: white;
}
/* end componants */

/* end global */
body {
  font-family: "Open Sans", sans-serif;
}
.sidebar {
  width: fit-content;
  min-height: 100vh;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 767px) {
  .sidebar {
    padding: 10px;
  }
}
.sidebar h2 {
  width: fit-content;
}
.sidebar h2::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -10px;
  width: 10px;
  height: 10px;
  border: 5px solid white;
  background-color: black;
  border-radius: 50%;
  transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 767px) {
  .sidebar h2 {
    font-size: 1em;
    padding: 2px;
    border: none;
  }
  .sidebar h2::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar ul {
    align-items: center;
  }
}
.sidebar li {
  width: 180px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  .sidebar li {
    width: fit-content;
    padding: 5px 15px;
  }
  .sidebar li i {
    margin: auto;
  }
}
.sidebar li a {
  display: block;
}
@media (max-width: 767px) {
  .sidebar li a span {
    display: none;
  }
}
.sidebar li:hover {
  background-color: #f6f6f6;
}
/* end sidebar */
/* Start Content */
/* End Content */
.content {
  flex: 1;
}
.content .fixed-header {
  justify-content: space-between;
  align-items: center;
}
.content .fixed-header .search-box i {
  color: var(--gray-color);
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.content .fixed-header .search-box input {
  width: 150px;
  border: 1px solid #ccc;
  color: var(--gray-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.content .fixed-header .search-box input:focus {
  width: 180px;
}
.content .fixed-header .search-box input::placeholder {
  font-size: 14px;
}
.content .fixed-header .search-box input:focus::placeholder {
  opacity: 0;
}
.content .fixed-header .user .fa-bell {
  position: relative;
}
.content .fixed-header .user .fa-bell::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content .fixed-header .user .user-avatar {
  width: 32px;
  height: 32px;
}
.content .fixed-header .user .user-avatar img {
  max-width: 100%;
}
/* Start Dashboard Content */
.dashboard {
  background-color: var(--section-background);
  flex: 1;
}
.dashboard .container {
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .dashboard .container {
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
}
.dashboard .container .box {
  position: relative;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dashboard .welcome .header {
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dashboard .box .info span {
  margin-top: 20px;
  color: var(--gray-color);
}
.dashboard .box .img-holder {
  width: 200px;
}
.dashboard .box .img-holder img {
  max-width: 100%;
}
.dashboard .box .data {
  position: relative;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.dashboard .box .data .holder {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 32px;
  top: -85px;
  border: 5px solid #fdfdfd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dashboard .box .data .holder img {
  width: 100%;
}
.dashboard .welcome input[type="submit"] {
  display: block;
  border: none;
  margin: 20px 20px 30px auto;
  width: fit-content;
}
/* start quick draft board */
/* End quick draft board */
.dashboard .quick-draft input,
.dashboard .quick-draft textarea {
  width: 100%;
  border: none;
}
.dashboard .quick-draft textarea {
  resize: none;
  height: 150px;
}
.dashboard .quick-draft input[type="submit"] {
  width: fit-content;
  margin: 0 0 0 auto;
}
/* Start Yearly Targets */
.dashboard .yearly-targets .box-content .card .card-front {
  width: 80px;
  height: 80px;
}
.dashboard .yearly-targets .box-content .card .card-body {
  flex: 1;
  justify-content: space-evenly;
}
.dashboard .yearly-targets .progress {
  height: 5px;
  position: relative;
}
.dashboard .yearly-targets .progress > span {
  left: 0;
  top: 1px;
  height: 3px;
  z-index: 5;
}
.yearly-targets .progress > span::before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  width: 0;
  height: 0;
  right: -4px;
  top: -5px;
}
.yearly-targets .progress .green::before {
  border-top-color: var(--green-color);
}
.yearly-targets .progress .orange::before {
  border-top-color: var(--orange-color);
}
.yearly-targets .progress .blue::before {
  border-top-color: var(--blue-color);
}
.yearly-targets .progress > span span {
  top: -22px;
  right: -15px;
  padding: 2px 4px;
}
/* End Yearly Targets */
/* Start Tickets */
.tickets .holder {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@media (max-width: 767px) {
  .tickets .holder {
    gap: 10px;
  }
  .tickets .holder > div {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
  }
}
/* End Tickets */
/* Start News */
.news .card:not(:first-child) {
  padding-top: 20px;
}
.news .card:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.news .card .head {
  width: 100px;
}
@media (max-width: 767px) {
  .news .card {
    flex-direction: column;
    text-align: center;
  }
}
.news .card .head img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .news .card .body h3 {
    font-size: 16px;
  }
}
.news .card .tail {
  padding: 5px 10px;
  font-size: 14px;
}
/* End News */
/* Start Tasks */
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .tasks .task-card {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .tasks h3 {
    font-size: 16px;
  }
  .tasks p {
    font-size: 14px;
  }
}
.tasks .done i,
.tasks .done h3,
.tasks .done p {
  opacity: 0.3;
}
.tasks .delete {
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.tasks .delete:hover {
  color: var(--red-color);
  animation: shake 0.5s infinite;
  -webkit-animation: shake 0.5s infinite;
}
/* End Tasks */
/* Start Search */
.search-items {
  display: flex;
  flex-direction: column;
}
.search-items > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.search-items .card span:last-of-type {
  padding: 5px 10px;
}
/* End Search */
/* Start Uploads */
.uploads .card:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.uploads .card:not(:first-child) {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .uploads i {
    width: 30px;
  }
  .uploads .card > div span:first-of-type {
    font-size: 15px;
  }
  .uploads .card > div span:last-of-type {
    font-size: 13px;
  }
  .uploads .card > span {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .uploads .card {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
/* End Uploads */
/* Start Last Project Progress */
.project .project-progress::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.project ul li::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.project ul .done::before {
  background-color: var(--blue-color);
}
.project ul li.current::before {
  animation: change-bg 0.8s infinite alternate;
  -webkit-animation: change-bg 0.8s infinite alternate;
}
.project img {
  position: absolute;
  width: 140px;
  right: 10px;
  bottom: 0;
  opacity: 0.2;
}
/* End Last Project Progress */
/* Start Reminders */
.reminders {
  position: relative;
}
.reminders ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reminders ul .blue::before {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
.reminders ul .green::before {
  background-color: var(--green-color);
}
.reminders ul .orange::before {
  background-color: var(--orange-color);
}
.reminders ul .red::before {
  background-color: var(--red-color);
}
.reminders ul li.blue {
  border-color: var(--blue-color);
}
.reminders ul li.green {
  border-color: var(--green-color);
}
.reminders ul li.orange {
  border-color: var(--orange-color);
}
.reminders ul li.red {
  border-color: var(--red-color);
}
.reminders ul li > div {
  border-left: 3px solid;
  border-color: inherit;
}
/* End Reminders */
/* Start Latest Post */
.latest-post .top-content img {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.8;
}
/* End Latest Post */
/* Start Social Media */
.social-media .card div {
  padding-left: 70px;
  font-size: 15px;
}
.social-media .card i:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.social-media .card a {
  font-size: 13px;
}
/* End Social Media */
/* Start Project Table */
.projects {
  margin: 0 20px;
}
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  width: 100%;
  border-spacing: 0;
}
.projects table thead {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  font-size: 15px;
  padding: 20px 15px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects tbody td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.projects tbody td img:not(:first-child) {
  margin-left: -20px;
}
.projects tbody td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody td:last-child span {
  font-size: 13px;
}
.projects tbody tr:hover {
  background-color: #faf7f7;
}
/* Start Project Table */
/* End Dashboard Content */
/*********************************** Start Settings Page */
/* Componants */
/* Start Toggle Checkbox */
.checkbox {
  -webkit-appearance: none;
  appearance: none;
}
.toggle-checkbox {
  position: relative;
  width: 75px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.toggle-checkbox::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  transition: var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.checkbox:checked + .toggle-checkbox {
  background-color: var(--blue-color);
}
.checkbox:checked + .toggle-checkbox::before {
  left: 48px;
  content: "\f00c";
  color: var(--blue-color);
}
/* End Toggle Checkbox */
.settings-page :disabled {
  cursor: pointer;
  background-color: #f0f4f8;
  color: #bbb;
}
/* End Componants */
/* Start Site Control Board */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}
@media (max-width: 767px) {
  .settings {
    padding-left: 0px;
    /* background:blue; */
  }
  .settings .main-heading {
    padding-left: 10px;
  }
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    gap: 10px;
  }
  .settings-page > div {
    padding: 10px;
  }
}
.settings-page .close-message {
  resize: none;
  padding: 10px;
  min-height: 175px;
  max-width: 100%;
  border: 1px solid #ccc;
}
.settings-page .close-message::placeholder {
  font-size: 13px;
}
/* End Site Control Board */
/* Start General Info Board */
.general-info .email {
  display: inline-flex;
  width: calc(100% - 80px);
  margin-right: 5px;
}
/* End General Info Board */
.security-info .password-btn {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.security-info .password-btn:hover {
  background-color: var(--blue-alt-color);
}
/* Start Social Info Board */
.social-info .card i {
  width: 40px;
  height: 40px;
  color: #888;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: var(--main-transition);
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.social-info .card input {
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}
.social-info input::placeholder {
  font-size: 14px;
}
.social-info > div:focus-within i {
  color: black;
}
/* End Social Info Board */
/* Start Widgets Control */
.widgets-control .control {
  margin-bottom: 20px;
}
.widgets-control .control label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid #888;
}
.widgets-control .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 12px;
  width: 18px;
  height: 18px;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  transform: scale(0) rotate(360deg);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
}
.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* End Widgets Control */
/* Start Backup Manger */

.backup-manager .control {
  margin-bottom: 20px;
}
.backup-manager input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-manager .control label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}
.backup-manager .control label::before,
.backup-manager .control label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: var(--main-transition);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.backup-manager .control label::before {
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  margin-top: -11px;
  border: 2px solid #888;
}
.backup-manager .control label::after {
  width: 12px;
  height: 12px;
  left: 5px;
  top: 5px;
  background-color: var(--blue-color);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.backup-manager .control input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-manager .control input[type="radio"]:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.backup-manager .servers .server {
  border: 2px solid #eee;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: var(--main-transition);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  .backup-manager .servers {
    flex-wrap: wrap;
  }
}
.backup-manager .servers .server label {
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.backup-manager .servers input[type="radio"]:checked + .server label {
  color: var(--blue-color);
}
.backup-manager .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
}
/* End Backup Manger */
/************* End Settings Page */
/******************* Start Profile Page */
.profile .main-heading::before {
  left: 0;
}
.profile .main-heading::after {
  left: 40px;
}
/* Start Overview Board */
.profile .overview {
  width: 100%;
}
@media (max-width: 767px) {
  .profile .overview {
    flex-direction: column;
    padding: 10px;
  }
}
.profile .overview .avatar-box {
  width: 280px;
  border-right: 1px solid #eee;
  height: fit-content;
  margin: auto;
  padding: 30px 20px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .profile .overview .avatar-box {
    width: 100%;
    padding: 10px;
    border: none;
  }
}
.profile .overview .avatar-box > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile .overview .avatar-box .progress {
  width: 70%;
  height: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.profile .overview .avatar-box .progress span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  height: 5px;
  background-color: var(--blue-color);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.profile .overview .info-box .control .toggle-checkbox {
  width: 78px;
  height: 20px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.profile .overview .info-box .control .toggle-checkbox::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
  top: 4px;
  left: 4px;
}
.profile .overview .info-box .checkbox:checked + .toggle-checkbox::before {
  left: 62px;
}
.profile .info {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  .profile .info > div {
    flex-direction: column;
  }
}
.profile .info:hover {
  background-color: #f9f9f9;
  color: gold;
}
/* End Overview Board */

/******************* End Profile Page */

/* Start Animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    -moz-transform: translate(1px, 1px) rotate(0deg);
    -ms-transform: translate(1px, 1px) rotate(0deg);
    -o-transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    -moz-transform: translate(3px, 2px) rotate(0deg);
    -ms-transform: translate(3px, 2px) rotate(0deg);
    -o-transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    -moz-transform: translate(3px, 1px) rotate(-1deg);
    -ms-transform: translate(3px, 1px) rotate(-1deg);
    -o-transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    -moz-transform: translate(1px, 2px) rotate(0deg);
    -ms-transform: translate(1px, 2px) rotate(0deg);
    -o-transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* change background */
@keyframes change-bg {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
/* End Animation */
