/*Start Gloabals*/
:root {
  --main-transition: 0.3s;
  --gray-colo: #888;
  --red-color: #f44336;
  --green-color: #22c55e;
  --orange-color: #f59e0b;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --light-orange-color: #fdecce;
  --light-blue-color: #cce3ff;
  --light-green-color: #d3f3df;
  --section-background: #f1f5f9;
  --twitter-color: rgb(29, 161, 242);
  --twitter-light-color: rgba(29, 161, 242, 0.3);
  --facebook-color: rgb(24, 119, 242);
  --facebook-light-color: rgb(24, 119, 242, 0.3);
  --youtube-color: rgb(255, 0, 0);
  --youtube-light-color: rgb(255, 0, 0, 0.3);
  --linkedin-color: rgb(0, 119, 181);
  --linkedin-light-color: rgb(0, 119, 181, 0.3);
}
/* End global */
/* Start width and height */
.w-40 {
  width: 40px;
}
.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-full {
  width: 100%;
}
.h-50 {
  height: 50px;
}
.h-80 {
  height: 80px;
}
.h-full {
  height: 100%;
}
.wrap-content {
  width: fit-content;
}
/* End width and height */
/* Start Margin and Padding */
.m-auto {
  margin: auto;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-30 {
  margin-left: 15px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.p-20-10 {
  padding: 20px 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-20 {
  padding-bottom: 20px;
}
.ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* End Margin and Padding */
/* Start Text Fonts And Alignment */
.fs-1 {
  font-size: 1em;
}
.fs-1p3 {
  font-size: 1.3em;
}
.fs-2em {
  font-size: 2em;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fw-bold {
  font-weight: bold;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.txt-l {
  text-align: left;
}
/* End Text Fonts And Alignment */
/* Start Color */
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-red {
  color: var(--red-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-888 {
  color: #888;
}
.c-gray {
  color: #888;
}
.c-twitter {
  color: var(--twitter-color);
}
.c-facebook {
  color: var(--facebook-color);
}
.c-youtube {
  color: var(--youtube-color);
}
.c-linkedin {
  color: var(--linkedin-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-blue {
  background-color: #0075ff;
}
.bg-green {
  background-color: var(--green-color);
}
.bg-light-blue {
  background-color: var(--light-blue-color);
}
.bg-light-green {
  background-color: var(--light-green-color);
}
.bg-light-orange {
  background-color: var(--light-orange-color);
}
.bg-twitter {
  background-color: var(--twitter-color);
}
.bg-light-twitter {
  background-color: var(--twitter-light-color);
}
.bg-facebook {
  background-color: var(--facebook-color);
}
.bg-light-facebook {
  background-color: var(--facebook-light-color);
}
.bg-youtube {
  background-color: var(--youtube-color);
}
.bg-light-youtube {
  background-color: var(--youtube-light-color);
}
.bg-linkedin {
  background-color: var(--linkedin-color);
}
.bg-light-linkedin {
  background-color: var(--linkedin-light-color);
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Position */
/* Start Border */
.b-none {
  border: none;
}
.br-ccc {
  border-right: 1px solid #ccc;
}
.bb-1 {
  border-bottom: 1px solid black;
}
.b-ccc {
  border: 1px solid #ccc;
}
.bt-eee {
  border-top: 1px solid #eee;
}
.bb-eee {
  border-bottom: 1px solid #eee;
}
.bb-2 {
  border-bottom: 2px solid black;
}
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Border */
/* Start Display */
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.flex-c {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.align-items-center {
  align-items: center;
}
/* start componets */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-shap {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px;
}
.d-grid {
  display: grid;
}
/* end componets */

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}
/* End Display */
